/* 内容区域范围 */
.md-grid {
  max-width: 90%;
}

/* 标题统一加粗 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    color: #e15a5a;
    animation: heart 1000ms infinite;
  }
  .star {
    color: #FFD700;
  }
  .wechat {
    color: #5fcc72;
  }
  .bilibili {
    color: #00A5DC;
  }
  .youtube {
    color: #EE0F0F;
  }

  .logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;         /* 保证图片裁剪后不变形 */
    border-radius: 8px;        /* 圆角半径 */
    vertical-align: middle;
  }

  .logo-img-inline {
    width: 18px;
    height: 18px;
    object-fit: cover;         /* 保证图片裁剪后不变形 */
    border-radius: 2px;        /* 圆角半径 */
    vertical-align: middle;
  }
